@import "reset.css";
@import "fonts.css";



* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body > header {
  display: flex;

  height: 45px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #f2f2f2;
  background-color: rgb(38, 38, 38);

  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 21px;
  margin-top: -6px;
  margin-left: 15px;
}

body > header ul {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

body > header li {
  padding-right: 15px;

  font-weight: 600;
}

.panel {
  position: relative;

  height: 45px;
  padding: 15px;

  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-weight: 600;
}

.panel button {
  position: absolute;
  right: 0;
}

main {
  min-height: 150vh;
  padding: 15px 0 15px;

  background-color: rgb(242, 242, 242);
}

section {
  width: 97vw;
  margin: 0 auto;
  margin-bottom: 15px;
}

.text-news {
  padding: 16px 18px 0;

  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  background-color: #fff;
}

.text-news > header {
  margin-bottom: 18px;

  text-transform: uppercase;

  color: gray;

  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.text-news__body {
  display: flex;
}

.text-news__body__list {
  display: flex;

  width: 50%;

  flex-wrap: wrap;
}

.text-news article {
  display: flex;

  width: 50%;
  padding-right: 15px;

  flex-flow: column nowrap;
}

.text-news article h3 {
  font-family: "PF Regal", serif;
  font-size: 20px;
  line-height: 1.1;

  flex: 1;
}

.text-news article footer {
  padding: 15px 0 20px;

  color: gray;

  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
}

.text-news article.is-featured {
  width: 50%;
}

.text-news article.is-featured h3 {
  font-size: 34px;
}

.photo-news {
  display: flex;

  justify-content: space-between;
}

.photo-news__article {
  position: relative;

  overflow: hidden;

  border-radius: 2px;
  text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.photo-news__article > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.photo-news__article__fade {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    -180deg,
    transparent,
    rgba(0,0,0,.05) 5%,
    rgba(0,0,0,.2) 25%,
    rgba(0,0,0,.5)
  );
}

.photo-news__article__desc {
  position: absolute;
  bottom: 20px;

  display: flex;
  flex-direction: column;

  min-height: 50%;
  padding: 60px 18px 0;

  color: #fff;
}

.photo-news__article__desc h3 {
  font-family: "Proxima Nova", sans-serif;
  font-size: 26px;
  font-weight: bold;

  flex: 1;
}

.photo-news__article__desc h3 i {
  font-family: "PF Regal", serif;
  font-weight: normal;
}
